@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

:root {
    --bg-black: #000;
    --text-white: #ffffff;
    --bg-white: #ffffff;
    --text-dark: #0d0d0d;
    --bg-dark: #0d0d0d;
    --text-lightdark: #1a1a1a;
    --bg-lightdark: #1a1a1a;
    --text-themecolor: #2B65EC;
    --bg-themecolor: #2B65EC;
}

/* CSS */
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track {
    background: var(--bg-dark);
}
html::-webkit-scrollbar-thumb {
    background: var(--bg-themecolor);
    border-radius: 5rem;
}
body {
    background: var(--bg-dark);
    /* padding-bottom: 6.5rem; */
}
section {
    padding: 5rem 9%;
    margin-bottom: 6rem;
}
.heading {
    text-align: center;
    font-size: 5vw;
    color: var(--text-white);
    margin-bottom: 3rem;
    text-transform: uppercase;
}
.heading span {
    text-transform: uppercase;
    color: var(--text-themecolor);
}

/* Loader query */
.all-contant {
    display: none;
}
.loader {
    width: 100%;
    height: 100vh;
    background: #000;
    display: block;
}
.loader .flash{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    animation: blinking 1s linear infinite;
}
.loader .flash span{
    display: block;
}
.loader .flash .slide-1{
    font-size: 45px;
    letter-spacing: 4px;
    margin-bottom: 20px;
    color: #b1b3b4;
    background: black;
    position: relative;
    animation: text 3s 1;
    text-shadow: 2px 2px 2px #333333;
    font-family: Trade Winds;
}
.loader .flash .slide-2{
    font-size: 20px;
    letter-spacing: 8px;
    margin-bottom: 15px;
    color: #E8C572;

}
@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
        opacity: 0;
    }
}
@keyframes blinking {
    from {
        text-shadow: 3px 3px 5px #ba8b00;
    }
    to {
        text-shadow: none;
    }
}

/* home contact button */
.wrapper-contact {
	min-height: 100%;
	overflow: hidden;
}
.wrapper-contact,
.wrapper-contact .wave-btn {
	display: flex;
	align-items: center;
}
.wrapper-contact .wave-btn {
    height: 50px;
	border-radius: 0 0 10px 10px;
	transition: all 0.8s ease 0s;
	text-decoration: none;
	overflow: hidden;
    justify-content: center;
    margin: 10px;
}

.wrapper-contact .wave-btn__text {
	z-index: 1;
	font-family: sans-serif;
    font-size: 2rem !important;
	color: var(--text-white) !important;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.wrapper-contact .wave-btn,
.wrapper-contact .wave-btn__text {
    position: relative;
}
.wrapper-contact .wave-btn:hover {
	border-radius: 10px;
	transition: all 0.8s ease 0s;
	box-shadow: 0 0 10px var(--bg-themecolor);
}
.wrapper-contact .wave-btn:hover .wave-btn__waves {
	top: -50px;
}
.wrapper-contact .wave-btn,
.wrapper-contact .wave-btn__waves {
	width: 230px;
}
.wrapper-contact .wave-btn__waves {
	position: absolute;
	top: 0;
	left: 0;
	height: 280px;
	background-color: var(--bg-themecolor);
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	transition: all 0.8s ease 0s;
}
.wrapper-contact .wave-btn__waves:after,
.wrapper-contact .wave-btn__waves:before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;
	transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}
.wrapper-contact .wave-btn__waves:before {
	background-color: var(--bg-black);
	border-radius: 48%;
	animation: waves 5s infinite linear;
}
.wrapper-contact .wave-btn__waves:after {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 44%;
	animation: waves 10s infinite linear;
}
@keyframes waves {
	0% {
		transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
	}
	100% {
		transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
	}
}

/* button */
.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5px;
    background: var(--bg-themecolor);
    padding: 0.7rem;
    font-size: 1.7rem;
    color: var(--text-white);
    padding-left: 2rem;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.btn:hover i {
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    transition: all 0.5s;
}
.btn:focus i {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: all 0.5s;
}
.btn i {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.7rem;
    text-align: center;
    background: var(--bg-white);
    color: var(--text-themecolor);
    border-radius: 50%;
    margin-left: 1rem;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}
.btn:hover i {
    margin-left: 2rem;
}

/* navbar section */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1000;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.navbar a {
    padding: 2rem;
    font-size: 2rem;
    background: var(--bg-lightdark);
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: var(--text-white);
    text-align: center;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}
.navbar a i {
    color: var(--text-themecolor);
    padding-right: 0.5rem;
}
.navbar a:hover {
    background: var(--text-themecolor);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    box-shadow: 0 0rem 0.5rem var(--bg-themecolor);
}
.navbar a:hover i {
    color: var(--text-white);
}

/* home page section */
.home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
    min-height: calc(100vh - 6.5rem);
}
.home .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    text-align: center;
}
.home .image img {
    height: 50rem;
    width: 50rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.home .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}
.home .content h3 {
    color: var(--text-white);
    font-size: 5rem;
    padding-bottom: 0.5rem;
}
.home .content span {
    font-size: 3rem;
    color: var(--bg-themecolor);
    padding: 0.5rem 0;
    display: block;
}
.home .content p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
    line-height: 2;
}

/* about section */
.about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}
.about .row .info-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}
.about .row .info-container h1 {
    font-size: 3rem;
    color: var(--text-white);
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.about .row .info-container .box-container {
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}
.about .row .info-container .box-container .box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
}

.about .row .info-container .box-container .box h3 {
    font-size: 1.7rem;
    color: var(--text-white);
    padding: 1rem 0;
    font-weight: normal;
}
.about .row .info-container .box-container .box h3 span {
    color: #aaa;
    font-weight: lighter;
    width: 160px;
    display: inline-block;
}
.about .row .count-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}
.about .row .count-container .box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
    padding: 3rem 4rem;
    border-radius: 0.5rem;
    background: var(--bg-lightdark);
    box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.7);
}
.about .row .count-container .box:hover {
    box-shadow: 0 0rem 0.5rem var(--bg-themecolor);
    transition: all 0.5s;
}
.about .row .count-container .box:hover h3 {
    color: var(--bg-themecolor);
}
.about .row .count-container .box h3 {
    font-size: 5rem;
    color: var(--text-white);
}
.about .row .count-container .box p {
    font-size: 2rem;
    color: #aaa;
}
.about .row .count-container .box-icon {
    text-align: center;
    color: var(--text-white);
    font-size: 5rem;
}
.about .row .count-container .box-icon:hover {
    color: var(--bg-themecolor);
}
.about .row .count-container .box-icon i {
    margin: 27px;
}

/* dawnload button */
.dawnload-btn {
    margin-bottom: 70px;
}
.dawnload-btn .button {
	text-decoration: none;
	position: relative;
	display: inline-block;
    top: 22px;
}
.dawnload-btn .button:before,
.dawnload-btn .button:after {
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	border: 2px solid var(--bg-themecolor);
	top: -4px;
	left: 79%;
	z-index: 1;
	margin-left: -40px;
	transition: all 1s ease 0s;
}
.dawnload-btn .button:before {
	animation: rotate 20s infinite linear;
}
.dawnload-btn .button:after {
	animation: rotate 25s infinite linear;
}
.dawnload-btn .button__text {
	position: relative;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
	border-radius: 1rem;
	font-size: 24px;
	text-transform: uppercase;
	color: var(--text-white);
	letter-spacing: 1px;
	transition: all 0.8s ease 0s;
	top: 0;
	overflow: hidden;
}
.dawnload-btn .button__text:before,
.dawnload-btn .button__text:after {
	content: "";
	position: absolute;
	width: 80%;
	height: 100%;
	background-color: var(--text-lightdark);
	transition: all 0.8s ease 0s;
}
.dawnload-btn .button__text:before {
	left: 0;
	z-index: 2;
}
.dawnload-btn .button__text:after {
	right: 0;
}
.dawnload-btn .button__text span {
	position: relative;
	z-index: 2;
}
.dawnload-btn .button:hover:before,
.dawnload-btn .button:hover:after {
	left: 100%;
	opacity: 0;
}
.dawnload-btn .button:hover .button__text {
	color: var(--text-themecolor);
    box-shadow: 0 0rem 0.5rem var(--bg-themecolor);
	transition: all 0.8s ease 0s;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* skill section */
.skills .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(19rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
}

.skills .box-container .box {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
    background: var(--bg-lightdark);
}

.skills .box-container .box:hover {
    box-shadow: 0 0rem 0.5rem var(--bg-themecolor);
    transition: all 0.5s;
}

.skills .box-container .box img {
    height: 7rem;
    margin-bottom: 1rem;
}

.skills .box-container .box h3 {
    color: var(--text-white);
    font-size: 1.7rem;
    font-weight: normal;
    /* text-transform: uppercase; */
}

/* education Section */
.education {
    display: block;
}
.education .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.education .box-container .box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    margin-left: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 3.5rem;
    padding-bottom: 3rem;
    border-left: 0.1rem solid #aaa;
    position: relative;
}

.education .box-container .box i {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    border-radius: 50%;
    background: var(--bg-themecolor);
    color: var(--text-white);
    text-align: center;
    position: absolute;
    top: -1rem;
    left: -2.5rem;
}

.education .box-container .box span {
    font-size: 1.7rem;
    color: var(--text-white);
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    background: var(--bg-lightdark);
}

.education .box-container .box h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--text-white);
    padding-top: 3rem;
    font-weight: normal;
}

.education .box-container .box p {
    font-size: 2rem;
    color: #aaa;
    line-height: 2;
}
.education .box-container .box:hover {
    border-left: 0.1rem solid var(--bg-themecolor);
    transition: all 0.5s;
}
.education .box-container .box:hover span {
    box-shadow: 0 0 10px var(--bg-themecolor);
    transition: all 0.5s;
}
.education .box-container .box:hover h3 {
    color: var(--text-themecolor);
    transition: all 0.5s;
}
.education .box-container .box:hover p {
    color: var(--text-white);
    transition: all 0.5s;
}
.education .box-container .box:hover i {
    box-shadow: 0 0 10px var(--bg-themecolor);
    background: var(--text-white);
    color: var(--bg-themecolor);
    transition: all 0.5s;
}

/* experience Section */
.experience {
    display: block;
}
.experience .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.experience .box-container .box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    margin-left: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 3.5rem;
    padding-bottom: 3rem;
    border-left: 0.1rem solid #aaa;
    position: relative;
}

.experience .box-container .box i {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    border-radius: 50%;
    background: var(--bg-themecolor);
    color: var(--text-white);
    text-align: center;
    position: absolute;
    top: -1rem;
    left: -2.5rem;
}

.experience .box-container .box span {
    font-size: 1.7rem;
    color: var(--text-white);
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    background: var(--bg-lightdark);
}

.experience .box-container .box h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--text-white);
    padding-top: 3rem;
    font-weight: normal;
}

.experience .box-container .box p {
    font-size: 2rem;
    color: #aaa;
    line-height: 2;
}
.experience .box-container .box:hover {
    border-left: 0.1rem solid var(--bg-themecolor);
    transition: all 0.5s;
}
.experience .box-container .box:hover span {
    box-shadow: 0 0 10px var(--bg-themecolor);
    transition: all 0.5s;
}
.experience .box-container .box:hover h3 {
    color: var(--text-themecolor);
    transition: all 0.5s;
}
.experience .box-container .box:hover p {
    color: var(--text-white);
    transition: all 0.5s;
}
.experience .box-container .box:hover i {
    box-shadow: 0 0 10px var(--bg-themecolor);
    background: var(--text-white);
    color: var(--bg-themecolor);
    transition: all 0.5s;
}

/* portfolio section */
.portfolio {
    text-align: center;
}

.portfolio .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

.portfolio .box-container .box {
    /* height: 30rem; */
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
}

.portfolio .box-container .box:hover {
    box-shadow: 0 0rem 0.5rem var(--bg-themecolor);
}
.portfolio .box-container .box:hover .content {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.portfolio .box-container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-lightdark);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

.portfolio .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--text-themecolor);
    text-transform: uppercase;
    font-weight: normal;
}

.portfolio .box-container .box .content p {
    padding: 2rem 0;
    font-size: 2rem;
    line-height: 2;
    color: #aaa;
}

.portfolio .box-container .box .content a {
    font-size: 3.5rem;
    color: var(--text-themecolor);
    background-color: transparent;
    padding: 10px;
    border-radius: 0.5rem;
    /* box-shadow: 0 0rem 0.5rem transparent; */
}

.portfolio .box-container .box .content a:hover {
    color: var(--text-white);
    /* box-shadow: 0 0rem 0.5rem var(--bg-white); */
    transition: all 0.5s;
}

/* portfolio modal */
.hide {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
    -o-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    height: 51px;
    font-size: 0;
    cursor: pointer;
}

.close:before, .close:after {
    content: '';
    position: absolute;
    background: #acacac;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    left: 14px;
    right: 14px;
    top: 30px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
}

.close:after {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.my-popup {
    position: fixed;
    top: 44%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: var(--bg-dark);
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 1100px;
    height: 80vh;
    box-shadow: 0 0 10px var(--bg-themecolor);
    -moz-transition: all 120ms;
    -webkit-transition: all 120ms;
    -o-transition: all 120ms;
    transition: all 120ms;
    z-index: 99;
    padding: 15px;
}

.my-popup-in {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.my-popup-in::-webkit-scrollbar {
    display: none;
}




.mypopup-header {
    text-transform: uppercase;
    font-size: 18px;
    color: var(--bg-white);
    padding: 10px;
}
.mypopup-body {
    padding: 10px 0;
    color: #a0a0a0;
}
.mymodal-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
}
.mymodal-box .mybox {
    padding: 1rem;
    margin-top: -5px;
    margin-bottom: 5px;
}
.mymodal-box .mybox img {
    width: 100%;
}
.mymodal-box .mybox .project-title {
    color: var(--text-themecolor);
    font-size: 3rem;
}
.mymodal-box .mybox .project-description {
    color: var(--text-white);
    font-size: 1.6rem;
    padding: 10px 0px;
}
.position-relative {
    position: relative;
}
.project-modal-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--text-lightdark);
    box-shadow: 0 0 10px transparent;
    color: var(--text-white);
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 0.8rem;
}
.project-modal-btn:hover {
    box-shadow: 0 0 10px var(--bg-white);
    transition: all 1s;
}


/* contact section */
.contact .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
    margin-bottom: 12rem;
}
.contact .box-container .box {
    padding: 4rem 2rem;
    text-align: center;
    box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
    background: var(--bg-lightdark);
    margin-top: -5px;
    margin-bottom: 5px;
}
.contact .box-container .box:hover {
    box-shadow: 0 0rem 0.5rem var(--bg-themecolor);
    margin-top: 5px;
    margin-bottom: -5px;
    transition: all 0.5s;
}
.contact .box-container .box i {
    font-size: 3.5rem;
    color: var(--text-themecolor);
    margin-bottom: 2rem;
}
.contact .box-container .box h3 {
    color: var(--text-white);
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px 0px;
}
.contact .box-container .box p {
    color: var(--text-white);
    font-size: 1.5rem;
    font-weight: normal;
}

.contact .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .row .info-container {
    width: 40rem;
}

.contact .row .info-container h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--text-white);
    padding-bottom: 1rem;
}

.contact .row .info-container p {
    font-size: 1.5rem;
    line-height: 2;
    color: #aaa;
}

.contact .row .info-container .box-container {
    padding: 2rem 0;
}

.contact .row .info-container .box-container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
}

.contact .row .info-container .box-container .box i {
    font-size: 3rem;
    color: var(--text-themecolor);
    line-height: 55px;
}

.contact .row .info-container .box-container .box h3 {
    font-size: 2rem;
    color: var(--text-white);
}

.contact .row .info-container .share a {
    font-size: 2rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    background: var(--bg-lightdark);
    color: var(--text-white);
    text-align: center;
    margin-right: 0.7rem;
}

.contact .row .info-container .share a:hover {
    background: var(--bg-themecolor);
    box-shadow: 0 0rem 0.5rem var(--bg-themecolor);
    transition: all 0.5s;
}

.contact .row form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.contact .row form .inputBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact .row form .inputBox input {
    width: 49%;
}

.contact .input-fiels {
    width: 49%;
}
.error {
    color: #cf6679;
    font-size: 12px;
}

.contact .row form .inputBox input,
.contact .row form textarea {
    border-radius: 0.8rem;
    padding: 1.2rem 1.8rem;
    font-size: 1.6rem;
    color: var(--text-white);
    text-transform: none;
    margin: 0.7rem 0;
    background: var(--bg-lightdark);
    width: 100%;
}
.contact .row form .inputBox input:focus,
.contact .row form textarea:focus {
    box-shadow: 0 0rem 0.5rem var(--bg-themecolor);
}

.contact .row form textarea {
    width: 100%;
    border-radius: 0.8rem;
    resize: none;
    height: 25rem;
}
.contact .map {
    margin: 30px 0px;
    height: 192px;
    border-radius: 0.8rem;
}
.contact .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Submit button */
.grid-sub .field {
    display: flex;
    position: relative;
    height: 75px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.grid-sub .field button {
    background-color: unset;
    color: var(--text-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 52px;
    font-size: 15px;
    width: 220px;
    border: unset;
    border-radius: unset;
    cursor: pointer;
    transform: translateY(9px);
}
.grid-sub .field button:hover {
    box-shadow: 0 0rem 0.5rem var(--bg-themecolor);
}
.grid-sub .field button:focus {
    outline: none;
}
.grid-sub .field .but {
    position: relative;
    transition: 0.5s;
    background-color: var(--bg-lightdark);
}
.grid-sub .field .but::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-top: 2.3px solid var(--bg-themecolor);
    border-left: 2.3px solid var(--bg-themecolor);
    transition: 0.5s;
    background-color: transparent;
}
.grid-sub .field .but::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    border-bottom: 2.3px solid var(--bg-themecolor);
    border-right: 2.3px solid var(--bg-themecolor);
    transition: 0.5s;
    background-color: transparent;
}
.grid-sub .field .but:hover {
    letter-spacing: 5px;
    background-color: var(--bg-dark);
    transition: 0.5s;
}
.grid-sub .field .but:hover:before,
.grid-sub .field .but:hover:after {
    width: 100%;
    height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* High light text css */
.high-light-text {
    color: #b00;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 20px;
}


@media (max-width: 1300px) {
    .contact .box-container .box p {
        font-size: 1.3rem;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    section {
        padding: 3rem 3rem;
    }
    .my-popup {
        width: 80%;
        min-height: 350px;
        max-height: 75vh;
        top: 44%;
    }
    .my-popup-in {
        height: 100%;
    }
}

@media (max-width: 1050px) {
    .my-popup {
        width: 90%;
    }
}

@media (max-width: 880px) {
    .contact .box-container .box {
        padding: 1rem;
    }
}
@media (max-width: 850px) {
    .contact .box-container {
        -ms-grid-columns: (minmax(32rem, 1fr)) [auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    }
    .contact .box-container .box {
        padding: 2rem;
    }
    .contact .box-container .box p {
        font-size: 1.5rem;
    }
    .contact .mail-box {
        width: 205%;
    }
}

@media (max-width: 790px) {
    .contact .row .info-container {
        width: 100%;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 12vw;
        font-size: 50px !important;
    }
    .navbar a i {
        padding: 0;
    }
    .navbar a span {
        display: none;
    }
    .navbar a:hover {
        padding-bottom: 2rem;
    }
    .home {
        text-align: center;
        gap: 2rem;
    }
    .home .image img {
        height: 30rem;
        width: 30rem;
    }
    .home .content h3 {
        font-size: 3rem;
    }
    .home .content span {
        font-size: 2.5rem;
    }
    .wrapper-contact {
        justify-content: center;
    }
    .about .row .info-container .box-container .box h3 span {
        width: 200px;
    }
    
    /* portfolio modal */
    .mymodal-box {
        -ms-grid-columns: (minmax(32rem, 1fr)) [auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    }
    .mymodal-box .mybox .project-description {
        font-size: 1.5rem;
    }
}


@media (max-width: 679px) {
    .project-modal-btn {
        position: relative;
        bottom: auto;
        right: auto;
    }
    .mymodal-box .mybox .project-description {
        margin-bottom: 20px;
    }
}
@media (max-width: 632px) {
    .contact .mail-box {
        width: 100%;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .heading {
        font-size: 42px !important;
    }
    .contact .row form .inputBox input {
        width: 100%;
        margin-bottom: 1rem;
    }

    /* about section */
    .about .row .info-container .box-container .box h3 span {
        width: 130px;
    }

    /* Dawnload Button */
    .dawnload-btn .button__text {
        height: 50px;
        font-size: 20px;
    }
    .dawnload-btn .button:before, .dawnload-btn .button:after {
        width: 50px;
        height: 50px;
        top: -2px;
    }
    .contact .input-fiels {
        width: 100%;
    }
    .about .row .count-container .box {
        text-align: center;
    }
}
