body {
    font-size: 18px;
}
.section-title h2::after {
    background: #ee7222;
}
.justify-text {
    text-align: justify;
}


/* ================== Home Page CSS ================== */
/* Navbar section css */
#header {
    padding: 7px 0;
}
#header .logo img {
    max-height: 55px;
}
header .navbar a, header .navbar a:focus {
    font-weight: 600;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #ee7222;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #ee7222;
}
.navbar .dropdown ul a.active {
    color: #ee7222;
}
.navbar .getstarted, .navbar .getstarted:focus {
    border: 2px solid #ee7222;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    background: #ee7222;
}


/* Hero section css */
#hero .btn-watch-video:hover i {
    color: #ee7222;
}
#hero .btn-get-started {
    background: #ee7222;
}
#hero .btn-get-started:hover {
    background: #ee6103;
}


/* Clients Section css */
.clients {
    padding: 60px 0 50px;
}
.clients .section-title h2 {
    font-size: 28px;
    margin-bottom: 0px;
}
.clients img {
    max-width: 85%;
    padding: 0;
    border-radius: 10px;
    margin: 15px 0px;
}

/* About Us section css */
.about .erp-img {
    width: 75%;
}
.about .content .btn-learn-more {
    color: #fff;
    border: 2px solid #ee7222;
    background: #ee7222;
}
.about .content .btn-learn-more:hover {
    background: #ee6103;
}
.about .content h5 {
    color: #0b3954;
}
.about .content .erp-modules-hedding {
    color: #0b3954;
    margin-top: 30px;
}
.about .content h5 i {
    margin-right: 7px;
}
.about .content ul {
    line-height: 18px;
}
.about .content ul li {
    line-height: 25px;
    padding-left: 35px;
}
.about .content ul li strong {
    color: #0b3954;
}
.about .content ul i {
    color: #0b3954;
    font-size: 26px;
}



/* Why Us section css */
.why-us {
    padding: 75px 0px;
}
.why-us .left-content {
    display: flex;
    align-items: center;
    height: 100%;
}
.why-us .single-works-text {
    padding-left: 15px;
}
.why-us .section-title h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-bottom: 12px;
}
.why-us .section-title {
    text-align: left;
    padding-bottom: 0;
}
.why-us .section-title h2::before {
    left: 0;
}
.why-us .section-title h2::after {
    left: 40px;
}
.why-us .main-contant h4 {
    color: #0b3954;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 7px;
}
.why-us .main-contant p {
    margin-bottom: 25px;
}


/* Service Section css */
.services .icon-box .icon img {
    height: 65px;
    margin-bottom: 10px;
}
.services .icon-box h4 {
    margin-bottom: 8px;
}
.services .icon-box:hover h4 a {
    color: #ee7222;
}
.services .icon-box p {
    line-height: 24px;
    font-size: 18px;
}


/* CTA section css */
.cta-one.cta {
    padding: 90px 0px;
}
.cta-one.cta h3 {
    margin-bottom: 12px;
}
.cta-one.cta p {
    margin-bottom: 0;
}
.cta-one.cta .cta-btn {
    padding: 12px 30px;
    font-size: 15px;
}
.cta .cta-btn:hover {
    background: #ee7222;
    border: 2px solid #ee7222;
}


/* Testimonials Section css */
.testimonials .section-title {
    padding-bottom: 60px;
}
.testimonials .testimonials-clean .item .box {
    padding:30px;
    background-color:#fff;
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.testimonials .testimonials-clean .item .box:after {
    content:'';
    position:absolute;
    left:30px;
    bottom:-24px;
    width:0;
    height:0;
    border:15px solid transparent;
    border-width:12px 15px;
    border-top-color:#fff;
}
.testimonials .testimonials-clean .item .author {
    margin-top:28px;
    padding-left:25px;
}
.testimonials .testimonials-clean .item .name {
    font-weight:bold;
    margin-bottom:2px;
    color:inherit;
}
.testimonials .testimonials-clean .item .title {
    font-size:13px;
    color:#9da9ae;
}
.testimonials .testimonials-clean .item .description {
    font-size:15px;
    margin-bottom:0;
}
.testimonials .testimonials-clean .item img {
    max-width:40px;
    float:left;
    margin-right:12px;
    margin-top:-5px;
}
@media (min-width:768px) {
    .testimonials .testimonials-clean .item {
        height:220px;
    }
}

/* Platform Advantage section css */
.platform-advantage h3 {
    color: #0b3954;
    font-size: 23px;
    margin-bottom: 3px;
}


/* Footer section css */
#footer .footer-logo {
    height: 45px;
    margin-top: -12px;
    margin-bottom: 15px;
}
#footer .footer-newsletter {
    padding: 60px 0;
}
#footer .footer-newsletter h4 {
    margin-bottom: 30px;
}
#footer .footer-newsletter img {
    max-width: 375px;
}
#footer .footer-top .footer-contact p {
    font-size: 16px;
}
#footer .footer-top .footer-contact h3 {
    text-transform: none;
}
#footer .footer-top .social-links a {
    font-size: 18px;
}
#footer .footer-top .footer-links ul i {
    color: #ee7222;
}
#footer .footer-top .social-links a {
    background: #ee7222;
}
#footer .footer-top .social-links a:hover {
    background: #ee6103;
}
#footer .footer-top .footer-links ul a:hover {
    color: #ee7222;
}
#footer .copyright {
    float: none;
    text-align: center;
}
#footer .copyright p {
    margin-bottom: 0;
}
.back-to-top {
    background: #ee7222;
}
.back-to-top:hover {
    background: #ee6103;
}


/* ================== SMS Pages CSS ================== */

/* Transactional SMS page css */
#hero.hero-three {
    height: 470px;
}
#hero.hero-three h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 52px;
    margin-bottom: 25px;
}
#hero.hero-three h2 {
    font-size: 21px;
}
#hero.hero-three .header-form {
    background-color: #fff;
    border-radius: 24px;
    padding: 25px;
}
#hero.hero-three .header-form .form-group .form-control {
    line-height: 2;
}
#hero.hero-three .header-form .form-group .form-control:focus {
    border-color: #ee7222;
    box-shadow: none;
}

#hero.hero-three .header-form .header-submit,
#hero.hero-three .header-form .header-submit:focus {
    color: #ee7222;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: #fff;
    text-transform: uppercase;
    border: 2px solid #ee7222;
}
#hero.hero-three .header-form .header-submit:hover,
#hero.hero-three .header-form .header-submit:focus:hover {
    color: #fff;
    background: #ee7222;
}

/* ================== SMS Page CSS ================== */
.sms-page .img-wrap {
    text-align: center;
}
.sms-page .img-wrap img {
    width: 60%;
}


/* ================== Downloads Page CSS ================== */
.Download .section-title {
    padding: 50px;
}
.Download .Download-files .Downloads-headding {
    display: flex;
    margin-bottom: 25px;
}
.Download .Download-files .Downloads-headding img {
    width: 60px;
    margin-right: 15px;
}
.Download .Download-files .Downloads-headding h3 {
    margin-bottom: 0;
    color: #37517e;
    line-height: 60px;
}
.Download .Download-files .Downloads-file {
    margin-bottom: 50px;
}
.Download .Download-files .Downloads-file h4 {
    color: #37517e;
    margin-bottom: 8px;
}
.Download .Download-files .Downloads-file h4 i {
    margin-right: 8px;
    color: #ee7222;
    font-weight: 900;
}
.Download .Download-files .Downloads-file .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
}
.Download .Download-files .Downloads-file .icon-box .icon img {
    width: 80%;
}
.Download .Download-files .Downloads-file .icon-box h4 {
    color: #ee7222;
    margin-bottom: 0;
    font-size: 22px;
}

/* ================== Pricing Page CSS ================== */
/* Pricing section css */
.pricing .featured {
    border-top-color: #ee7222;
}
.pricing h4 span {
    color: #ee7222;
}
.pricing ul li {
    padding: 5px 0 5px 30px;
}
.pricing ul li ul {
    padding: 0;
}
.pricing .buy-btn {
    color: #ee7222;
    border: 1px solid #ee7222;
}
.pricing .buy-btn:hover {
    background: #ee7222;
}
.pricing .featured .buy-btn {
    background: #ee7222;
}
.pricing .featured .buy-btn:hover {
    background: #ee6103;
}

/* ================== Contact Us Page CSS ================== */

/* Hero 2 section CSS */
#hero.hero-two {
    height: 350px;
}


/* Contact Us Section CSS */
.contact .info {
    border-top: 3px solid #ee7222;
    border-bottom: 3px solid #ee7222;
}
.contact .php-email-form {
    border-top: 3px solid #ee7222;
    border-bottom: 3px solid #ee7222;
}
.contact .info i {
    color: #ee7222;
    background: #ffede1;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #ee7222;
}
.contact .info h4 {
    margin-bottom: 0;
}
.contact .info .email p {
    padding-top: 0;
}
.contact .php-email-form button[type=submit] {
    background: #ee7222;
}
.contact .php-email-form button[type=submit]:hover {
    background: #ee6103;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #ee7222;
}


/* Media Query */
@media only screen and (max-width: 1200px) {

    /* ================== Home Page CSS ================== */
    .why-us .left-content h3 {
        font-size: 26px;
    }
    .why-us .left-content ul {
        padding: 10px 20px;
    }
    .why-us .main-contant h4 {
        margin-bottom: 5px;
    }
    .cta.wordpress-plugin ul li {
        margin: 0px 12px;
    }


    /* ================== SMS Pages CSS ================== */
    #hero.hero-three .container {
        padding-top: 35px;
    }
    #hero.hero-three h1 {
        font-size: 29px;
        line-height: 45px;
        margin-bottom: 18px;
    }

}

@media only screen and (max-width: 992px) {

    /* ================== Home Page CSS ================== */
    body {
        font-size: 17px;
    }
    .mobile-nav-toggle {
        font-size: 35px;
    }
    .why-us .left-content h3 {
        font-size: 24px;
    }
    .why-us .left-content ul {
        padding: 10px;
    }
    .why-us .main-contant h4 {
        font-size: 22px;
    }
    .why-us .main-contant p {
        margin-bottom: 15px;
    }
    .why-us .single-works-text {
        padding-left: 0px;
    }
    .testimonials .testimonials-clean .item .title {
        margin-bottom: 0;
    }
    .cta .cta-btn-container {
        justify-content: center;
        margin-top: 20px;
    }
    .cta.wordpress-plugin ul {
        max-width: 500px;
        margin: 10px auto 0;
        display: inline-block;
        text-align: left;
    }
    .cta.wordpress-plugin ul li {
        width: 50%;
        margin: 0px;
        float: left;
    }


    /* ================== SMS Page CSS ================== */
    #hero.hero-three {
        height: 705px;
    }
    .sms-page .img-wrap img {
        width: 100%;
    }


    /* ================== Download Pages CSS ================== */
    .Download .Download-files .Downloads-file .icon-box {
        padding: 30px 15px;
    }
    .Download .Download-files .Downloads-file .icon-box .icon img {
        width: 125px;
    }
    .Download .Download-files .Downloads-file .icon-box h4 {
        font-size: 20px;
    }

}

@media only screen and (max-width: 768px) {

    /* ================== Home Page CSS ================== */
    #header .logo img {
        max-height: 49px;
    }
    .about .content .erp-modules-hedding {
        margin-bottom: 0;
        margin-top: 28px;
    }
    .about .content h5 i {
        margin-right: 2px;
    }
    .about .content ul li {
        padding-left: 32px;
    }
    .cta.wordpress-plugin {
        padding: 75px 0;
    }
    .why-us .left-content ul {
        padding: 10px 40px;
    }
    .why-us .left-content ul li {
        line-height: 35px;
    }
    #footer .footer-logo {
        height: 50px;
        margin-top: 0;
    }

}

@media only screen and (max-width: 576px) {

    /* ================== Home Page CSS ================== */
    body {
        font-size: 16px;
    }
    .clients img {
        max-width: 75%;
    }
    .about .content ul {
        margin-bottom: 0;
    }


    /* ================== SMS Page CSS ================== */
    #hero.hero-three .header-form {
        border-radius: 15px;
    }
    
}

@media only screen and (max-width: 480px) {

    /* ================== Home Page CSS ================== */
    .section-title h2 {
        font-size: 26px;
    }
    #footer .footer-newsletter img {
        max-width: 300px;
    }
    .why-us .left-content ul {
        padding: 10px;
    }
    .cta.wordpress-plugin {
        padding: 65px 0;
    }    
    .cta .cta-btn-container {
        margin-top: 8px;
    }
    .cta.wordpress-plugin ul {
        max-width: 250px;
    }
    .cta.wordpress-plugin ul li {
        width: 100%;
    }
    .cta .cta-btn {
        padding: 10px 15px;
    }

    /* ================== SMS Pages CSS ================== */
    #hero.hero-three {
        height: 735px;
    }

}