
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1200px) {
    /* banner section css */
    .banner-wrap .banner-img {
        display: none;
    }
    .banner-wrap .banner-img-two {
        display: block;
    }
    .banner-wrap {
        right: -13%;
        top: -0%;
    }
    .banner-contant {
        margin-top: 20%;
    }

    /* service section start */
    .service-items {
        margin: 0px 10px;
    }
    .service-icons:after {
        left: 15%;
    }
    .service-all {
        margin-bottom: -20%;
    }

    /* Aboutus section start */
    .about-me {
        padding: 335px 0px 0px;
    }
    .profile-img {
        width: 175px;
    }
    .profile-img img {
        border: 7px solid #ffbc5e;
    }
    .about-us-wrap {
        margin-bottom: -38%;
    }

    /* Portfolio section start */
    .portfolio {
        padding: 440px 0px 0px;
    }
    .portfolio-contant {
        bottom: -45%;
        padding: 5px 10px;
        left: 10px;
        right: 10px;
    }
    .portfolio-contant h4 {
        font-size: 17px;
        margin-bottom: 6px;
    }
    .details-link {
        font-size: 16px;
    }
    .portfolio-item:hover .portfolio-contant {
        bottom: 10px;
    }
    .portfolio-all {
        margin-bottom: -17%;
    }

    /* testimonial section start */
    .testimonial {
        padding: 240px 0px 70px;
    }

    /*------------- Portfolio page css -------------*/
    /* portfolio banner css */
    .portfolio-banner .banner-contant {
        margin-top: 0%;
    }

}

@media only screen and (max-width: 992px) {
    /* banner section css */
    .banner {
        height: 600px;
    }
    .banner-wrap {
        right: -20%;
        top: -10%;
    }
    .banner-contant span {
        font-size: 28px;
    }
    .banner-contant h2 {
        font-size: 45px;
    }

    /* service section start */
    .service-all {
        margin-bottom: -28%;
    }
    .service-items {
        margin: 0px;
        padding: 20px 10px;
    }
    .service-icons {
        margin-bottom: 0px;
    }
    .service-icons:after {
        left: 13%;
        top: 5px;
        width: 140px;
        height: 140px;
    }
    .service-icons object {
        width: 60px;
        margin-top: 45px;    
    }
    .service-icons h3 {
        font-size: 19px;
    }
    .service-items p {
        font-size: 17px;
        line-height: 22px;
    }

    /* About us section start */
    .profile-img {
        width: 150px;
    }
    .about-us-wrap .section-hedding {
        margin-top: 18px;
    }
    .section-hedding h3 {
        font-size: 32px;
    }
    .about-us-wrap {
        padding: 0px 50px 30px;
        margin-bottom: -65%;
    }
    .about-me .section-hedding {
        margin-bottom: 0%;
    }
    .about-us-wrap .skills {
        margin-top: 30px;
    }

    /* portfolio section start */
    .portfolio {
        padding: 515px 0px 0px;
    }    
    .portfolio-contant {
        padding: 10px 15px;
        left: 15px;
        right: 15px;
    }
    .portfolio-contant h4 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .portfolio-item:hover .portfolio-contant {
        bottom: 15px;
    }
    .portfolio-all {
        margin-bottom: -24%;
    }

    /* testimonial section css */
    .testimonial {
        padding: 270px 0px 70px;
    }

    /* Contact section css */
    .contact .map {
        height: 300px;
    }
    .contact .contact-form {
        margin-top: 25px;
    }
        
}

@media only screen and (max-width: 767px) {
    /* banner section css */
    .banner-wrap .banner-img-two {
        display: none;
    }
    .banner-wrap .banner-img-three {
        display: block;
    }
    .banner-wrap {
        top: 0;
        right: -8%;
        width: 90%;
    }
    .banner-contant {
        margin-top: 55%;
    }
    .banner-contant span {
        font-size: 24px;
    }
    .banner-contant h2 {
        font-size: 33px;
        margin-bottom: 5px;
    }
    .banner-contant p {
        font-size: 16px;
    }


    /* service section start */
    .service {
        padding: 20px 0px 0px;
    }
    .service-all {
        margin-bottom: -140%;
    }
    .service-icons:after {
        left: 34%;
    }
    .service-items p {
        font-size: 18px;
        line-height: 24px;
    }
    .service-items {
        margin: 0px 20px;
        padding: 20px;
    }

    /* about us section start */
    .about-me {
        padding: 845px 0px 0px;
    }
    .about-us-wrap {
        padding: 0px 20px 20px;
    }
    .about-us-wrap {
        margin-bottom: -120%;
    }
    

    /* portfolio section start */
    .portfolio {
        padding: 690px 0px 0px;
    }
    .portfolio-all {
        margin-bottom: -39%;
    }

    /* testimonial section css */
    .testimonial {
        padding: 300px 0px 50px;
    }

    /* lets start section css */
    .lets-start {
        padding: 70px 0px;
    }
    .lets-start .container {
        display: block;
        text-align: center;
    }
    .lets-start .section-hedding {
        text-align: center;
    }
    .lets-start .section-hedding p {
        max-width: unset;
        margin-bottom: 25px;
    }

    /* Contact section css */
    .contact .map {
        height: 250px;
    }
    .contact .contact-form {
        margin-top: 20px;
    }    
    .contact-form .form-floating>.form-control,
    .contact-form .form-floating>.form-select {
        height: calc(3rem + 5px);
    }
    .contact-form .form-floating>label {
        padding: 0.8rem 0.75rem;
    }
    .contact-details .info-box:hover {
        transform: scale(1.02);
    }
    .contact-form .btn-custom {
        padding: 10px 34px;
    }

    /* footer section start */
    .footer-logo {
        width: 80px;
    }
    .socials {
        text-align: center;
        margin-top: 25px;
    }

    /*------------- Portfolio page css -------------*/
    /* portfolio banner css */
    .portfolio-page .portfolio-banner {
        height: 300px;
    }
}

@media only screen and (max-width: 640px) {

    /* testimonial section css */
    .testimonial {
        padding: 285px 0px 50px;
    }
    
}

@media only screen and (max-width: 576px) {
    /* header section css */
    .navbar-brand {
        width: 60px;
    }
    .navbar-toggler {
        width: 45px;
        font-size: 6px;
    }

    /* about us section start */
    .about-me {
        padding: 855px 0px 0px;
    }
    .profile-img {
        width: 115px;
    }
    .about-us-wrap {
        margin-bottom: -110%;
    }

    /* portfolio section start */
    .portfolio {
        padding: 670px 0px 0px;
    }
    .portfolio-all {
        margin-bottom: -41%;
    }

    /* testimonial section css */
    .testimonial {
        padding: 275px 0px 60px;
    }

    /* lets start section css */
    .lets-start .section-hedding h3 {
        font-size: 26px;
    }
    .lets-start .section-hedding p {
        font-size: 17px;
        max-width: 240px;
        margin: 0 auto 20px;
    }
    .let-start-button .btn-custom {
        font-size: 14px;
        padding: 7px 17px;
    }
    
}

@media only screen and (max-width: 520px) {
    /* service section css */
    .service-all {
        margin-bottom: -165%;
    }
    .service-icons:after {
        left: 32%;
    }

    /* about us section start */
    .about-me {
        padding: 910px 0px 0px;
    }
    .about-us-wrap {
        margin-bottom: -122%;
    }

}
@media only screen and (max-width: 480px) {
    /* banner section css */
    .banner-wrap {
        top: 0;
        right: -14%;
        width: 100%;
    }

    /* service section css */
    .service-icons:after {
        left: 32%;
        width: 125px;
        height: 125px;
    }
    .service-icons object {
        width: 50px;
        margin-top: 35px;
    }
    .service-items {
        padding: 20px 10px;
    }
    .service-items p {
        font-size: 16px;
        line-height: 22px;
    }
    .service-all {
        margin-bottom: -155%;
    }

    /* about us section start */
    .about-me {
        padding: 790px 0px 0px;
    }    
    .about-us-wrap {
        margin-bottom: -132%;
    }

    /* portfolio section css */
    .portfolio-all {
        margin-bottom: -44%;
    }
    .portfolio-page .btn-custom {
        font-size: 14px;
        padding: 9px 10px;
    }

    /* testimonial section css */
    .testimonial .slide-content p {
        font-size: 16px;
    }
    .testimonial .slide-content h4 {
        font-size: 22px;
        line-height: 25px;
    }

    /* Contact section css */
    .contact .map {
        height: 250px;
    }

    /* footer section css */
    .footer-copyright p {
        font-size: 16px;
    }

}

@media only screen and (max-width: 440px) {
    /* service section css */
    .service-all {
        margin-bottom: -165%;
    }

    /* about us section start */
    .about-me {
        padding: 765px 0px 0px;
    }
    .about-us-wrap .section-hedding p {
        font-size: 17px;
    }
    .eb-progress-bar-wrapper .eb-progress-bar {
        --size: 5rem;
    }
    .eb-progress-bar-wrapper .eb-progress-bar-title {
        font-size: 17px;
    }

    /* testimonial section css */
    .testimonial {
        padding: 250px 0px 60px;
    }
    
}

@media only screen and (max-width: 400px) {
    /* service section css */
    .service-all {
        margin-bottom: -195%;
    }
    .service-items {
        margin: 0px;
    }
    .service-icons:after {
        left: 30%;
    }

    /* about us section start */
    .about-me {
        padding: 815px 0px 0px;
    }
    .about-us-wrap {
        margin-bottom: -165%;
    }

    /* portfolio section start */
    .portfolio {
        padding: 625px 0px 0px;
    }
    .portfolio-contant {
        left: 10px;
        right: 10px;
        padding: 5px 7px;
        bottom: -60%;
    }
    .portfolio-item:hover .portfolio-contant {
        bottom: 10px;
    }
    .portfolio-contant h4 {
        font-size: 16px;
        margin-bottom: 4px;
    }
    .portfolio-contant p {
        font-size: 13px;
    }
    .details-link {
        font-size: 16px;
        padding: 20px 5px;
    }
    .portfolio-all {
        margin-bottom: -46%;
    }

    /* testimonial section css */
    .testimonial {
        padding: 220px 0px 60px;
    }

    /*------------- Portfolio page css -------------*/
    /* Portfolio page section css */
    .details-link {
        padding: 12px 5px;
    }

}

@media only screen and (max-width: 350px) {
    /* service section css */
    .service-icons:after {
        left: 28%;
    }
    .service-all {
        margin-bottom: -240%;
    }

    /* about us section start */
    .about-me {
        padding: 850px 0px 0px;
    }
    .about-us-wrap {
        margin-bottom: -180%;
    }

    /* footer section css */
    .footer-copyright {
        padding: 15px 0px;
    }
    .footer-copyright a {
        display: block;
    }
}

