.resume-wrapper {
    margin-top: 125px;
}
.resume-name {
    letter-spacing: .1rem;
}
.resume-role-title {
    letter-spacing: 0.35rem;
}
.resume-contact {
    padding: 1rem 0.5rem;
}
.resume-header .resume-contact .resume-contact-list .list-inline-item {
    margin-right: 2.5rem;
}
.resume-header .resume-contact .resume-contact-list .list-inline-item:last-child {
    margin-right: auto;
}
.second-mail {
    display: none;
}
.main-content-wrapper {
    padding: 0 15px;
}


.cv-dawnload {
    height: 60px;
    width: 60px;
    font-size: 27px;
    background-color: #5d84cf;
    border-radius: 50%;
    box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044), 0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061), 0 25px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 25px;
    left: 25px;
}
.cv-dawnload:hover {
    transition: all 0.5px;
    color: #fff;
}


/* Chat whatsapp/skype */
.fabWidget {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    transition: all 0.3s;
}  
.fabWidget .fabTrigger .background {
    background-color: #5d84cf;
    border-radius: 50%;
    box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044), 0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061), 0 25px 20px rgba(0, 0, 0, 0.1);
    height: 60px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 60px;
}
.fabWidget .fabList {
    visibility: hidden;
    opacity: 1;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.fabWidget .fabButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 6px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.fabWidget .fabButton:hover {
    cursor: pointer;
}
.fabWidget .fabButton.active {
    transform: translateY(0px);
    opacity: 1;
}
.fabWidget .fabButton svg {
    width: 100%;
    height: 100%;
}  
.fabWidget.active .fabButton {
    visibility: visible;
    opacity: 1;
    transform: translateY(-15px);
}
.fabWidget .fabOverlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
}
.fabWidget .fabOverlay.active {
    opacity: 1;
    visibility: visible;
}
.fabWidget [data-tooltip] {
    position: relative;
}
.fabWidget [data-tooltip]::before {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    top: 50%;
    right: 100%;
    padding: 7px;
    text-align: center;
    border-radius: 4px;
    background: #5d84cf;
    color: #fff;
    font-size: 0.8em;
    white-space: nowrap;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    cursor: default;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
.fabWidget [data-tooltip]:hover::before {
    opacity: 1;
    visibility: visible;
    right: 120%;
}
.fabWidget .chat-bubble {
    cursor: pointer;
    position: relative;
}
.fabWidget .chat-bubble .bubble {
    transform-origin: 50%;
    transition: transform 500ms cubic-bezier(0.17, 0.61, 0.54, 0.9);
}
.fabWidget .chat-bubble .line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2.75;
    stroke-linecap: round;
    transition: stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fabWidget .chat-bubble .line1 {
    stroke-dasharray: 60 90;
    stroke-dashoffset: -20;
}
.fabWidget .chat-bubble .line2 {
    stroke-dasharray: 67 87;
    stroke-dashoffset: -18;
}
.fabWidget .chat-bubble .circle {
    fill: #ffffff;
    stroke: none;
    transform-origin: 50%;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.fabWidget .active .bubble {
    transform: translateX(24px) translateY(4px) rotate(45deg);
}
.fabWidget .active .line1 {
    stroke-dashoffset: 21;
}
.fabWidget .active .line2 {
    stroke-dashoffset: 30;
}
.fabWidget .active .circle {
    transform: scale(0);
}




@media only screen and (max-width: 992px) {
    .resume-body .col-main {
        border-right: none;
    }
    .resume-header .resume-contact .resume-contact-list .list-inline-item {
        margin-right: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .resume-contact {
        padding: 1rem;
    }
    .resume-header .resume-contact .resume-contact-list .list-inline-item {
        display: block;
        max-width: 300px;
        text-align: left;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 576px) {
    .main-content-wrapper {
        padding: 0;
    }
    .resume-name {
        font-size: 1.8rem;
    }
    .resume-role-title {
        letter-spacing: 0.25rem;
    }
}
@media only screen and (max-width: 450px) {
    .first-mail {
        display: none;
    }
    .second-mail {
        display: inline-block;
    }
    .resume-contact {
        padding: 1rem 0.1rem;
    }
    .main-content-wrapper .resume-header {
        padding: 0 0.8rem !important;
    }
    .main-content-wrapper .resume-body {
        padding: 1.5rem 0.8rem !important;
    }
    .resume-timeline {
        padding-left: 1.5rem;
    }
    .resume-timeline:before {
        left: 5px;
    }
    .resume-timeline-item:before {
        left: -22px;
    }
    .resume-position-meta {
        display: block !important;
    }
    .resume-company-name {
        margin: 5px 0 10px;
    }
}