/* Media Query Start */

@media only screen and (max-width: 1366px) {
    .contact-section-in {
        padding: 65px 100px;
    }
    .contact-section {
        height: 680px;
    }
    .input-field {
        height: 55px;
    }
}
@media only screen and (max-width: 1200px) {
    .banner {
        background-size: 100% 700px;
    }
    .banner-contant-section {
        padding: 227px 70px 70px;
    }
    
    .service .main-hedding {
        font-size: 30px;
    }
    .service .main-paregraph {
        margin: 30px 0px;
        font-size: 18px;
    }
    .service .main-btn {
        width: 200px;
        padding: 15px;
    }
    .contact-section {
        height: 625px;
    }
    .contact-section-in {
        padding: 40px 60px;
    }
    
}
@media only screen and (max-width: 1024px) {
    .banner {
        background-size: 100% 600px;
    }
    .banner-contant-section {
        padding: 147px 50px 50px;
        width: 500px;
    }
    .main-hedding {
        font-size: 42px;
    }
    .service-img {
        height: 85px;
    }
    .service .main-hedding {
        font-size: 29px;
    }
    .contact .main-hedding {
        margin: 15px 0px;
    }
    .contact-section {
        height: 585px;
    }
    .contact-section-in {
        margin-top: 85px;    
        padding: 30px 60px;
    }
    .contact .main-btn {
        width: 200px;
        padding: 15px;
    }
}
@media only screen and (max-width: 991px) {
    .banner {
        background-size: 100% 550px;
    }
    .main-hedding {
        font-size: 36px;
        margin: 25px 0px;
    }
    .main-btn {
        width: 200px;
        padding: 18px;
    }
    .main-span {
        letter-spacing: 9px;
    }
    .logo-div {
        width: 268px;
    }
    .manu-toggle-btn {
        padding: 25px;
    }
    .about-container {
        padding: 0px 20px;
    }
    .main-span {
        letter-spacing: 5px;
    }
    .about .main-hedding {
        font-size: 30px;
    }
    .about .main-paregraph {
        font-size: 18px;
    }
    .service-items {
        padding: 50px 25px;
    }
    .service-img {
        height: 70px;
    }
    .service .main-hedding {
        font-size: 28px;
        margin: 20px 0px;
    }
    .service .main-paregraph {
        margin: 20px 0px;
    }
    .service .main-btn {
        width: 164px;
        padding: 13px;
    }
    .lats-connect .main-hedding {
        font-size: 30px;
    }
    .lats-container {
        padding: 0px 20px;
    }
    .contact .main-hedding {
        margin: 0;
        font-size: 27px;
    }
    .contact-section {
        height: 500px;
    }
    .contact-section-in {
        padding: 30px 20px;
    }
    .contact .main-btn {
        width: 164px;
        padding: 13px;
    }
    .submit {
        margin: 25px 0px;
    }
    .contact-fields {
        width: 100%;
        margin: 15px 0px;
    }
    .input-field {
        height: 40px;
    }
    .contact-span::before {
        width: 60px;
    }
    .contact-span {
        padding-left: 65px;
    }
    .contact-footer-section-in p {
        font-size: 14px;
    }
    .contact-footer-social ul li a {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .contact-footer-section-in {
        background-color: #fff;
        border-radius: 80px 0px;
        padding: 25px 18px;
    }
    .contact-footer-section-in h4 {
        margin: 12px 0px;
    }
}
@media only screen and (max-width: 767px) {
    .banner {
        background-size: auto;
    }
    .banner-contant-section {
        width: 100%;
        padding: 170px 50px 50px;
    }
    .banner-contant-section-in {
        text-align: center;
    }
    .main-btn {
        padding: 14px 18px;
    }
    .banner .main-btn {
        margin: 25px auto;
    }
    .main-hedding {
        font-size: 30px;
    }
    .logo-div {
        padding: 10px;
        width: 250px;
    }
    .about .main-hedding {
        font-size: 26px;
    }
    .about .main-paregraph {
        font-size: 17px;
    }
    .service-row {
        flex-wrap: wrap;
    }
    .service-items {
        width: 100%;
        padding: 100px 80px;
    }
    .lats-connect .main-hedding {
        font-size: 26px;
    }
    .contact-in {
        flex-wrap: wrap;
    }
    .contact-section {
        width: 100%;
        height: auto;
    }
    .contact-section-in {
        margin: 0;
        padding: 40px 100px;
    }
    .contact-span::before {
        width: 85px;
    }    
    .contact-span {
        padding-left: 90px;
    }
    .contact .main-hedding {
        font-size: 37px;
        margin: 25px 0px;
    }
    .input-field {
        height: 55px;
    }
    .contact .main-btn {
        width: 200px;
        padding: 15px;
    }
    .submit {
        margin: 40px 0px;
    }
    .submit {
        margin-bottom: 20px;
    }
    .contact-footer {
        padding: 100px 0px;
    }
    .contact-footer-container {
        flex-wrap: wrap;
    }
    .contact-footer-section {
        width: 100%;
        height: 200px;
    }
    .contact-footer-section-in h4 {
        margin: 25px 0px;
        font-size: 18px;
    }
    .contact-footer-section-in p {
        font-size: 16px;
        line-height: 25px;
    }
    .contact-footer-social ul li a {
        width: 70px;
        height: 70px;
        font-size: 24px;
    }
}
@media only screen and (max-width: 640px) {
    .manu-line {
        display: none;
    }
    .toggle-btn {
        width: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 0.25rem;
        font-size: 22px;
    }
    .toggle-btn i {
        margin-top: 0px;
    }
    .about {
        padding: 70px 0px 50px;
    }
    .about .main-hedding {
        font-size: 24px;
        margin: 20px 0px;
    }
    .about .main-paregraph {
        font-size: 16px;
    }
    .lats-connect .main-hedding {
        font-size: 24px;
    }
    .lats-connect {
        padding: 70px 0px 50px;
    }
    .lats-connect .main-hedding {
        margin: 20px 0px;
    }
    .contact-section-in {
        padding: 40px 60px;
    }
    .contact-footer {
        padding: 70px 0px;
    }
    
}
@media only screen and (max-width: 480px) {
    .main-hedding {
        font-size: 23px;
        margin: 40px 0px;
    }
    .logo-div {
        width: 180px;
    }
    .logo {
        width: 100%;
        margin: 2px;
    }
    .main-btn {
        width: 165px;
        padding: 12px;
        font-size: 14px;
    }
    .main-span {
        letter-spacing: 4px;
        font-size: 16px;    
    }
    .banner-contant-section {
        width: 100%;
        padding: 170px 15px 50px;
    }
    .manu-toggle-btn {
        padding: 15px;
    }
    .manu-toggle-btn a {
        font-size: 26px;
    }
    .about-container {
        padding: 0px 20px;
    }
    .about .main-span {
        letter-spacing: 2px;
    }
    .about .main-hedding {
        font-size: 22px;
    }
    .about .main-paregraph {
        margin: 0px;
    }
    .service-items {
        padding: 50px 40px;
        text-align: center;
    }
    .service .main-btn {
        margin: 0 auto;
    }
    .service .main-paregraph {
        font-size: 16px;
    }
    .lats-connect .main-hedding {
        font-size: 22px;
    }
    .input-field {
        height: 50px;
    }
    .contact-section-in {
        padding: 40px;
    }
    .contact .main-hedding {
        font-size: 30px;
    }
    .contact-span {
        padding-left: 65px;
    }
    .contact-span::before {
        width: 60px;
    }
    .contact .main-btn {
        width: 167px;
        padding: 13px;
    }
    .contact-footer-section-in h4 {
        margin: 16px 0px;
    }
    .contact-footer-section-in p {
        font-size: 14px;
    }
    .contact-footer-social ul li a {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .contact-footer-section {
        width: 100%;
        height: 160px;
    }
    .input-field::placeholder,
    .input-textarea::placeholder {
        font-size: 14px;
    }

}
@media only screen and (max-width: 380px) {
    .service-items {
        padding: 50px 20px;
    }
    .contact-section-in {
        padding: 40px 20px;
    }
    .contact .main-hedding {
        font-size: 27px;
    }
    .footer-copyright p {
        font-size: 14px;
    }
    
}